*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightslategrey;
}
.task{
    height: 1.5rem;
    
}
.task span{
    cursor: pointer;
    line-height: 1.5rem;
    margin-left: .5rem;
}
.task.done span:first-child{
    text-decoration: line-through;
}
.task.false span:first-child{
    text-decoration: none;
}