<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>TODOLIST</title>
</head>
<body>
    <div id="myapp">

        <input type="text" v-model="newTask" @keyup.enter="addTask" placeholder="inserisci qui il nuovo task">
        <button @click="addTask">add task</button>

        <div v-if="tasks.length === 0"> Nessun task da compiere</div>
        <div v-else class="task" v-for="task, i in tasks" :key="i">
            {{task.text}} <span @click="removeTask(i)">&#10005;</span>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/main.js"></script>
</body>
</html>